################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CongressApp/obj
/CongressApp/ErrorLogs
/CongressApp/Properties/PublishProfiles
/CongressApp/bin/Debug/netcoreapp3.1
/CongressApp/bin/Release/netcoreapp3.1
