<div class="layout">
    <mat-card>
        <div class="lgn-sec">
            <form [formGroup]="userForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="hasError('password','maxLength') && !hasError('password','required')">
                        Password should contain atleast 8 letters
                    </mat-error>
                    <mat-error *ngIf="hasError('password','pattern') && !hasError('password','required')">
                        Password should contain atleast 1 uppercase, 1 lowercase, 1 numeric & 1 character
                    </mat-error>
                    <mat-error *ngIf="hasError('password','required')">
                        Password is Required
                    </mat-error>
                </mat-form-field><br />
                <mat-form-field class="example-full-width">
                    <mat-label>Verify Password</mat-label>
                    <input type="password" matInput formControlName="changePassword">
                    <mat-error *ngIf="hasError('changePassword','maxLength') && !hasError('changePassword','required')">
                        Verify Password should contain atleast 8 letters
                    </mat-error>
                    <mat-error *ngIf="hasError('changePassword','pattern') && !hasError('changePassword','required')">
                        Verify Password should contain atleast 1 uppercase, 1 lowercase, 1 numeric & 1 character
                    </mat-error>
                    <mat-error *ngIf="hasError('changePassword','required')">
                        Verify Password is Required
                    </mat-error>
                    <mat-error *ngIf="userForm.hasError('passwordConfirming')">
                        Verify Password is not match with Verfiy Password
                    </mat-error>
                </mat-form-field>
            </form>
            <div mat-dialog-actions style="justify-content: space-between;">
                <button mat-button (click)="cancel()">Cancel</button>
                <button mat-button cdkFocusInitial (click)="passwordChange()">Save</button>
            </div>
        </div>
    </mat-card>
</div>