<div class="home-layout">
  <!-- Top Navigation Bar -->
  <div class="topnavbar" #top>
    <button class="menubtn" routerLink="/home">
      <img src="../../assets/logo-white (1).png" class="menu">
    </button>
    <div style="float: right;">
      <button mat-raised-button class="nav-buttons" *ngIf="isAdmin" (click)="redirectToUsers()">View Users</button>
      <button mat-raised-button class="nav-buttons" *ngIf="isAdmin" (click)="openAddUser()">Add User</button>
      <button mat-raised-button class="nav-buttons" [disabled]="isDisabled()" *ngIf="isAdmin || isSiteAdmin"
        (click)="openItems()">Add
        Items</button>
      <button mat-raised-button class="nav-buttons logout" (click)="logout()">Logout</button>
    </div>
  </div>
  <!-- Top Nav Ended -->
  <!-- Body Begins -->
  <div class="appWrapper">
    <mat-form-field class="date-picker" #datepicker>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="choosenDate" (dateChange)="getEntireData($event)">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- Carousel Begins -->
    <div class="carousel" #itemcard>
      <table>
        <tr>
          <td *ngFor="let dataItem of items?.createdItems">
            <mat-card class="numeric-card" [ngClass]="getcolorsForItems(dataItem.name)"
              style="text-align: center; justify-content: center; cursor: pointer;" (click)="applyFilter(dataItem.name)">{{dataItem.index}}.
              {{dataItem.name}}</mat-card>
          </td>
        </tr>
      </table>
    </div>
    <!-- Carousel Ends -->
    <!-- Timeline Table Begins -->
    <mat-card class="table-card" [ngStyle]="{'height': tableHeightCalc }">
      <table class="timeline">
        <thead>
          <tr>
            <th>Timeline</th>
            <th>Facebook</th>
            <th>Twitter</th>
            <th>Instagram</th>
            <th>YouTube</th>
            <th>News clips</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of dataSource; let i=index">
            <td>{{row.timeline}}</td>
            <td><span><a *ngFor="let cData of row.facebook" style="cursor: pointer;" [title]="cData.fileName"
                  (click)="download(cData.filePath, cData.fileName, cData.isLink)">
                  <div class="attachSpan"></div>
                </a></span><span class="attachBtn"><button matRipple class="atchbtn"
                  (click)="openAttachmentPopup(i, 'facebook')">+</button></span></td>
            <td><span><a *ngFor="let cData of row.twitter" style="cursor: pointer;" [title]="cData.fileName"
                  (click)="download(cData.filePath, cData.fileName, cData.isLink)">
                  <div class="attachSpan"></div>
                </a></span><span class="attachBtn"><button matRipple class="atchbtn"
                  (click)="openAttachmentPopup(i, 'twitter')">+</button></span></td>
            <td><span><a *ngFor="let cData of row.instagram" style="cursor: pointer;" [title]="cData.fileName"
                  (click)="download(cData.filePath, cData.fileName, cData.isLink)">
                  <div class="attachSpan"></div>
                </a></span><span class="attachBtn"><button matRipple class="atchbtn"
                  (click)="openAttachmentPopup(i, 'instagram')">+</button></span></td>
            <td><span><a *ngFor="let cData of row.youtube" style="cursor: pointer;" [title]="cData.fileName"
                  (click)="download(cData.filePath, cData.fileName, cData.isLink)">
                  <div class="attachSpan"></div>
                </a></span><span class="attachBtn"><button matRipple class="atchbtn"
                  (click)="openAttachmentPopup(i, 'youtube')">+</button></span></td>
            <td><span><a *ngFor="let cData of row.newsclips" style="cursor: pointer;" [title]="cData.fileName"
                    (click)="download(cData.filePath, cData.fileName, cData.isLink)">
                    <div class="attachSpan"></div>
                  </a></span><span class="attachBtn"><button matRipple class="atchbtn"
                    (click)="openAttachmentPopup(i, 'newsclips')">+</button></span></td>

          </tr>
        </tbody>
      </table>
    </mat-card>
    <!-- Timeline Table Ends -->
  </div>
  <div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>
</div>