<h1 mat-dialog-title>List of Files uploaded By User</h1>
<div mat-dialog-content>
  <table class="user-data">
    <tbody>
      <tr *ngFor="let dataItem of userData">
        <td>{{dataItem.filename ? dataItem.filename: dataItem.filePath}}</td>
        <td *ngIf="!dataItem.isLink"><button class="downloadbtn" mat-raised-button
            (click)="download(dataItem.filePath, dataItem.filename)">Download</button></td>
        <td *ngIf="!dataItem.isLink"><button class="downloadbtn" mat-raised-button
            (click)="delete(dataItem._id)">Delete</button></td>
        <td colspan="2" *ngIf="dataItem.isLink"><a href="{{dataItem.filePath}}" target="_blank">{{dataItem.filePath}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions style="justify-content: center;">
  <button mat-button cdkFocusInitial (click)="ok()">Close</button>
</div>